
@{
    ViewBag.Title = "MapTest";
}

<style>
    #map {
        position: relative;
        width: 500px;
        height: 500px;
        border: 0px;
    }
</style>

<h2>MapTest</h2>

<script src="http://dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0" type="text/javascript"></script>
<script type="text/javascript" src="~/scripts/jquery-1.10.2.min.js"></script> 
<div id="map"></div>

<script>
    function initMap () {
        var map = new Microsoft.Maps.Map($("#map")[0],
            {
                credentials: "@Environment.GetEnvironmentVariable("BING_MAPS_KEY")",
                center: new Microsoft.Maps.Location(40.7128, 296),
                mapTypeId: Microsoft.Maps.MapTypeId.road,
                zoom: 3
            });
        
        var points = @Html.Raw(ViewBag.geocodes);

        for (var i = 0; i < points.length; i++) {
            // get new lat/long
            var latitude = points[i].Latitude;
            var longitude = points[i].Longitude;

            var location = new Microsoft.Maps.Location(latitude, longitude);

            // add pin

            var pin = new Microsoft.Maps.Pushpin(location);
            map.entities.push(pin);
        }
    }

    initMap();

</script>